---
import BaseLayout from '../../layouts/BaseLayout.astro'
import IndexList from '../../components/IndexList.astro'

const documents = await Astro.glob('./documents/[!_]*.{md,mdx}')
---

<BaseLayout
  title="コラム | Product Design Wiki"
  description="プロダクトデザイングループに所属するプロダクトデザイナーのコラムを掲載しています。"
>
  <header slot="header">
    <a href="/">TOPへ戻る</a>
    <h1>コラム | Product Design Wiki</h1>
    <p>SmartHRに所属するプロダクトデザイナーが書いたコラムを掲載しています。</p>
  </header>
  <section>
    <h2>コラム一覧</h2>
    <IndexList documents={documents} />
  </section>
</BaseLayout>
