# https://help.github.com/en/articles/about-code-owners

# すべてにプロデザを指定
* @kufu/product-designer

# コラムを含む Markdown に全員を指定
*.md @oremega @ysasaki10 @ouji-miyahara @uknmr @versionfive @kgsi @daxelbook @wentzzz @ayumizu @drivesketch @tosiiu
