body {
  overflow-wrap: break-word;
  font-family: system-ui, sans-serif;
  max-width: 45em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

footer {
  margin-block-start: 1em;
}

table {
  border-collapse: collapse;
}
