---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title="404 Page Not Found | Product Design Wiki"
  description="申し訳ありませんが、お探しのページは見つかりませんでした。お手数ですが、URLを確認してもう一度アクセスしてください。"
>
  <header slot="header">
    <a href="/">Product Design</a>
  </header>
  <main>
    <article>
      <header>
        <h1>404 Page Not Found</h1>
      </header>
      <p>申し訳ありませんが、お探しのページは見つかりませんでした。お手数ですが、URLを確認してもう一度アクセスしてください。</p>
    </article>
  </main>
</BaseLayout>
