---
import BaseLayout from '../layouts/BaseLayout.astro'

const documents = await Astro.glob('./documents/[!_]*.{md,mdx}')
---

<BaseLayout
  title="Product Design Wiki"
  description="プロダクトデザイングループ内で獲得した知見、スキル定義、学習コンテンツを掲載しています。プロダクトデザインに関わる人はどなたでも利用・参加できます。"
>
  <h1>Product Design Wiki</h1>
  <p>
    Product Design Wikiへようこそ。SmartHR
    プロダクトデザイングループ内で獲得した知見、スキル定義、学習コンテンツを掲載しています。プロダクトデザインに関わる人はどなたでも利用・参加できます。
  </p>
  <section>
    <ul>
      {
        documents.map((document) => {
          return (
            <li>
              <a href={document.url}>{document.frontmatter.title}</a>
            </li>
          )
        })
      }
    </ul>
  </section>
</BaseLayout>
