---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title="Product Design"
  description="Product Designでは、プロダクトデザイングループ内で獲得した知見、スキル定義、学習コンテンツを掲載しています。プロダクトデザインに関わる人はどなたでも利用・参加できます。"
  ogimage="ogimage_index.png"
>
  <header>
    <h1>Product Design</h1>
  </header>
  <section>
    <ul>
      <li><a href="/wiki">Product Design Wiki</a></li>
      <li><a href="/skills">Product Design Skills</a></li>
    </ul>
  </section>
</BaseLayout>
