---
import SiteLayout from '../layouts/SiteLayout.astro'

const documents = (await Astro.glob('./documents/[!_]*.{md,mdx}')).sort()
---

<SiteLayout>
  <h1>Product Design Wiki</h1>
  <section>
    <ul>
      {
        documents.map((document) => {
          return (
            <li>
              <a href={document.url}>{document.frontmatter.title}</a>
            </li>
          )
        })
      }
    </ul>
  </section>
</SiteLayout>
