---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title="Product Deisign Wiki"
  description="Product Deisign Wikiでは、プロダクトデザイングループ内で獲得した知見、スキル定義、学習コンテンツを掲載しています。プロダクトデザインに関わる人はどなたでも利用・参加できます。"
  ogimage="ogimage_wiki.png"
>
  <header>
    <h1>Product Deisign Wiki</h1>
    <p>
      Product Design Wikiへようこそ。SmartHR
      プロダクトデザイングループ内で獲得した知見、スキル定義、学習コンテンツを掲載しています。プロダクトデザインに関わる人はどなたでも利用・参加できます。
    </p>
  </header>
  <nav>
    <ul>
      <li><a href="/words/">用語</a></li>
      <li><a href="/columns/">コラム</a></li>
      <li><a href="/skills/">スキル</a></li>
    </ul>
  </nav>
</BaseLayout>
