---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Product Design" description="--" type="index">
  <header>
    <h1>Product Design</h1>
  </header>
  <section>
    <ul>
      <li><a href="/wiki">Product Design Wiki</a></li>
      <li><a href="/skills">Product Design Skills</a></li>
    </ul>
  </section>
</BaseLayout>
