---
import type { MarkdownInstance } from 'astro'

export interface Props {
  documents: Record<string, any>[]
}

const { documents } = Astro.props
---

<ul>
  {
    documents.map((document) => {
      const string = 'この記事は準備中です。'

      return (
        <li>
          {!document.rawContent().includes(string) ? (
            <a href={document.url}>{document.frontmatter.title}</a>
          ) : (
            <>{document.frontmatter.title}</>
          )}
        </li>
      )
    })
  }
</ul>
