---
export interface Props {
  documents: Record<string, any>[]
}

const { documents } = Astro.props
---

<ul>
  {
    documents.map((document) => {
      const existsContent = !document.rawContent().includes('この記事は準備中です。')

      return (
        <li>
          <a href={existsContent && document.url}>{document.frontmatter.title}</a>
        </li>
      )
    })
  }
</ul>
