---
import BaseLayout from './BaseLayout.astro'

const { content, rawContent } = Astro.props
const MAX_DESC_LENGTH = 128

const description = content.description ? content.description : rawContent().substr(0, MAX_DESC_LENGTH).replace(/\r?\n/g, '')

// Memo: 一旦編集はクローズドにしておく
// const editUrl = `https://github.com/kufu/product-design/blob/main/${content.file.substring(content.file.indexOf('src/', 1))}`
---

<BaseLayout title={content.title} description={description}>
  <header>
    <a href="/wiki/">Product Design Wiki</a>
  </header>
  <section>
    <h1>{content.title}</h1>
    <slot />
    <!-- <p>
      <a href={editUrl}>ページを編集する</a>
    </p> -->
  </section>
</BaseLayout>
