body {
  overflow-wrap: break-word;
  font-family: system-ui, sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

article {
  max-width: 45em;
}

header {
  font-weight: bold;
}

footer {
  margin-block-start: 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
