---
import BaseLayout from '../../layouts/BaseLayout.astro'
import skills from '../../data/skills.json'
---

<BaseLayout
  title="スキル定義 | Product Design Wiki"
  description="SmartHRではプロダクトデザイナーが必要とされる技能をスキルとして定義しています。各スキルを5段階で定義しています。"
>
  <header slot="header">
    <a href="/">TOPへ戻る</a>
    <h1>スキル定義 | Product Design Wiki</h1>
    <p>
      SmartHRではプロダクトデザイナーが必要とされる技能をスキルとして定義しています。
      例として「SmartHRでのドメイン知識の例」を含めていますが、デジタルプロダクトデザインにおいて汎用的な技能を網羅しています。
    </p>
  </header>
  <section>
    <h2>スキルレベル定義</h2>
    <p>各スキルはレベル1〜5の5段階で定義しています。</p>
    <ul>
      <li>レベル1：最低限できてほしいこと</li>
      <li>レベル2：仕事になること、自走できること</li>
      <li>レベル3：独り立ちし、周囲を率いれること</li>
      <li>レベル4：明らかに優れていること、社外に名前が知られていること</li>
      <li>レベル5：界隈に影響を与えていること、世界に誇れる人であること</li>
    </ul>
    <h2>スキル定義の運用</h2>
    <p>
      求められる技能は時代や環境の変化に依って代わりゆくため、スキル定義も合わせて見直していく必要があります。最低でも数年に1度は見直すと良いでしょう。
    </p>
    <p>
      何のためにスキル定義を作るのか、という目的も大切です。目的の薄いスキル定義は、その運用コストの高さからすぐに形骸化します。また「昔取った杵柄」で評価をしないために、1年触れていない技能は強制的に1段階下げるなどの工夫も必要でしょう。
    </p>
  </section>
  <section>
    <h2>スキル定義一覧</h2>
    {
      skills.map((skill) => (
        <div>
          <h3>{skill.label}</h3>
          {skill.description && <p>{skill.description}</p>}
          <ul>
            {skill.levels.map((level, levelNumber) => (
              <li>
                レベル{levelNumber + 1}
                <ul>
                  <li>{level}</li>
                </ul>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </section>
</BaseLayout>
