---
import BaseLayout from '../../layouts/BaseLayout.astro'
import skills from '../../data/skills.json'
---

<BaseLayout
  title="Product Design Skills"
  description="SmartHRではプロダクトデザイナーが必要とされる技能をスキルマップ化しています。各スキルを5段階で定義しています。"
  ogimage="ogimage_skills.png"
>
  <header slot="header">
    <a href="/">Product Designへ戻る</a>
    <h1>Product Design Skills</h1>
    <p>SmartHRではプロダクトデザイナーが必要とされる技能をスキルマップ化しています。各スキルを5段階で定義しています。</p>
  </header>
  <section>
    <h2>スキル一覧</h2>
    {
      skills.map((skill) => (
        <div>
          <h3>{skill.label}</h3>
          {skill.description && <p>{skill.description}</p>}
          <ul>
            {skill.levels.map((level, levelNumber) => (
              <li>
                レベル{levelNumber + 1}
                <ul>
                  <li>{level}</li>
                </ul>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </section>
</BaseLayout>
