---
import BaseLayout from '../../layouts/BaseLayout.astro'
import IndexList from '../../components/wiki/IndexList.astro'

const documents = await Astro.glob('./documents/[!_]*.{md,mdx}')
---

<BaseLayout
  title="Product Design Wiki"
  description="プロダクトデザイングループ内で整理した用語と、所属するプロダクトデザイナーのコラムを掲載したWikiです。"
  ogimage="ogimage_wiki.png"
>
  <header slot="header">
    <a href="/">Product Designへ戻る</a>
    <h1>Product Design Wiki</h1>
    <p>
      Product Design
      Wikiへようこそ。プロダクトデザイングループ内で整理した用語と、所属するプロダクトデザイナーのコラムを掲載したWikiです。
    </p>
  </header>
  <section>
    <h2>用語</h2>
    <IndexList documents={documents.filter((document) => document.frontmatter.tag.split(',').includes('word'))} />
  </section>
  <section>
    <h2>コラム</h2>
    <IndexList documents={documents.filter((document) => document.frontmatter.tag.split(',').includes('column'))} />
  </section>
</BaseLayout>
