---
import BaseLayout from '../../layouts/BaseLayout.astro'
import IndexList from '../../components/IndexList.astro'

const documents = await Astro.glob('./documents/[!_]*.{md,mdx}')
---

<BaseLayout title="用語 | Product Design Wiki" description="プロダクトデザイングループ内で整理した用語を掲載しています。">
  <header slot="header">
    <a href="/">TOPへ戻る</a>
    <h1>用語 | Product Design Wiki</h1>
    <p>プロダクトデザイングループ内で整理した用語を掲載した用語集です。</p>
  </header>
  <section>
    <h2>用語一覧</h2>
    <IndexList documents={documents} />
  </section>
</BaseLayout>
