---
import SiteLayout from './SiteLayout.astro'

const { content, title } = Astro.props

const nextSharpNum = content.file.indexOf('src/', 1)
const editUrl = `https://github.com/kufu/product-design-wiki/blob/main/${content.file.substring(nextSharpNum)}`

console.log(title)
---

<SiteLayout title={title}>
  <slot />
  <a href={editUrl}>ページを編集する</a>
</SiteLayout>
