---
import remarkParse from 'remark-parse'

const { content } = Astro.props

const nextSharpNum = content.file.indexOf('src/', 1)
const editUrl = `https://github.com/kufu/product-design-wiki/blob/main/${content.file.substring(nextSharpNum)}`
---

<html>
  <head>
    <title>{content.title}</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <slot />
    <a href={editUrl}>ページを編集する</a>
  </body>
</html>
