---
import '../css/style.css'

const { title, description } = Astro.props
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="creator" content="株式会社SmartHR" />
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@SmartHR_jp" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="ogp.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="" />
  </head>
  <body>
    <article>
      <slot />
    </article>
    <hr />
    <footer>
      <svg width="96" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M63.287 6.103a3.418 3.418 0 0 0-.576-.045c-.468 0-.832.045-1.253.282-.38.215-.681.455-.929.898l-.065-.727a.293.293 0 0 0-.095-.194.3.3 0 0 0-.203-.079h-2.093a.301.301 0 0 0-.276.182.29.29 0 0 0-.022.113v9.135a.29.29 0 0 0 .184.272.3.3 0 0 0 .114.022h2.244a.3.3 0 0 0 .276-.181.29.29 0 0 0 .022-.113v-5.505c0-.46.321-1.034.688-1.298.334-.24.708-.407 1.215-.45.141-.013.362-.003.66.024a.297.297 0 0 0 .327-.29l.029-1.75a.299.299 0 0 0-.25-.295l.003-.001Zm6.782 7.721-.434.019c-.365 0-.623-.07-.774-.207-.152-.137-.228-.397-.228-.781V8.44h1.35a.301.301 0 0 0 .276-.182.29.29 0 0 0 .023-.113v-1.79a.29.29 0 0 0-.184-.273.301.301 0 0 0-.115-.022h-1.35V4.13a.29.29 0 0 0-.184-.273.3.3 0 0 0-.114-.022H66.09a.301.301 0 0 0-.276.182.292.292 0 0 0-.022.113V6.06h-1.05a.301.301 0 0 0-.277.182.292.292 0 0 0-.022.113v1.79a.292.292 0 0 0 .184.273.301.301 0 0 0 .114.022h1.05v4.754c0 1.018.253 1.765.76 2.238.507.472 1.238.71 2.189.71.523 0 1.005-.062 1.447-.187a.295.295 0 0 0 .21-.284v-1.556a.3.3 0 0 0-.33-.294l.001.002Zm-17.402-.031a2.06 2.06 0 0 1-1.024.246c-.345 0-.624-.09-.833-.275a.904.904 0 0 1-.314-.714c0-.42.146-.766.437-1.038.29-.273.739-.41 1.348-.41h1.02v1.592c-.128.234-.339.433-.634.597v.002Zm1.549-7.342c-.605-.26-1.298-.392-2.081-.392-.845 0-1.59.139-2.237.413-.647.275-1.144.664-1.494 1.133A2.651 2.651 0 0 0 47.9 8.88a.297.297 0 0 0 .298.325h2.248a.296.296 0 0 0 .288-.25.926.926 0 0 1 .312-.564c.22-.19.533-.284.933-.284.45 0 .782.12.999.363.217.243.323.583.323 1.02v.531h-1.056c-1.517 0-2.661.278-3.429.832-.768.554-1.152 1.343-1.152 2.369 0 .556.149 1.059.446 1.506.298.447.701.794 1.212 1.042.525.252 1.102.379 1.685.372 1.032 0 1.846-.348 2.44-1.042v.569a.29.29 0 0 0 .087.208.298.298 0 0 0 .212.086h2.116a.303.303 0 0 0 .21-.086.294.294 0 0 0 .088-.209l.001-6.157c0-.758-.173-1.38-.515-1.897a3.15 3.15 0 0 0-1.42-1.163h-.009Zm38.035 1.692c-.34.297-.835.445-1.484.445h-2.112v-3.37h2.112c.656 0 1.152.149 1.488.445.336.297.505.714.505 1.247 0 .523-.17.933-.509 1.232Zm3.715 7.392-2.592-5.009c.768-.34 1.34-.805 1.74-1.392.4-.588.6-1.355.6-2.303 0-.85-.198-1.572-.594-2.161-.397-.59-.97-1.037-1.713-1.339-.743-.302-1.625-.455-2.646-.455h-4.774a.301.301 0 0 0-.276.182.29.29 0 0 0-.022.113v12.496a.29.29 0 0 0 .184.272.301.301 0 0 0 .114.022h2.362a.301.301 0 0 0 .276-.181.29.29 0 0 0 .022-.113v-4.695h1.827l2.462 4.828a.295.295 0 0 0 .267.162h2.496a.295.295 0 0 0 .266-.429l.001.002ZM83.24 2.86h-2.356c-.165 0-.3.133-.3.296v5.43h-5.031v-5.43a.298.298 0 0 0-.3-.296h-2.364c-.165 0-.3.133-.3.296v12.51c0 .163.135.295.3.295h2.364c.166 0 .3-.132.3-.295v-4.732h5.033v4.732c0 .163.135.295.3.295h2.356c.165 0 .3-.132.3-.295V3.157a.298.298 0 0 0-.3-.296h-.002ZM7.418 10.762a.713.713 0 0 0 .91-.434.703.703 0 0 0-.44-.897 1.972 1.972 0 0 1-1.05-.85 1.93 1.93 0 0 1 .425-2.483 1.994 1.994 0 0 1 2.422-.1c.335.234.587.566.722.949.13.368.538.562.909.434.37-.128.569-.53.44-.896a3.374 3.374 0 0 0-1.486-1.776 3.446 3.446 0 0 0-2.295-.417c-.79.132-1.509.535-2.028 1.138a3.337 3.337 0 0 0-.812 2.158c0 .698.22 1.377.63 1.946.408.568.986.997 1.653 1.227v.001Zm35.676-4.704c-.643 0-1.211.128-1.703.382a3.287 3.287 0 0 0-1.22 1.093c-.236-.498-.574-.867-1.01-1.11-.438-.244-.96-.365-1.567-.365-.601 0-1.139.111-1.613.332-.471.22-.883.546-1.202.953l-.07-.834a.292.292 0 0 0-.094-.193.3.3 0 0 0-.203-.078H32.32a.3.3 0 0 0-.276.182.29.29 0 0 0-.022.113v9.135a.29.29 0 0 0 .184.272.3.3 0 0 0 .114.022h2.244a.301.301 0 0 0 .276-.181.29.29 0 0 0 .022-.113V9.585c.159-.269.361-.477.611-.625.25-.148.54-.22.874-.22.303 0 .552.041.747.122.194.08.342.232.446.454.104.223.154.534.154.934v5.42a.29.29 0 0 0 .184.272.301.301 0 0 0 .114.022h2.244a.301.301 0 0 0 .276-.182.29.29 0 0 0 .022-.113V9.692c.146-.3.343-.534.592-.701.25-.168.55-.252.903-.252.303 0 .55.04.742.12.191.081.339.232.441.45.103.22.154.527.154.922v5.436a.29.29 0 0 0 .087.208.298.298 0 0 0 .212.086h2.253a.3.3 0 0 0 .276-.181.29.29 0 0 0 .022-.113V9.815c0-1.33-.271-2.29-.816-2.876-.544-.588-1.313-.882-2.308-.882l.003.001Zm-27.456 6.19a3.962 3.962 0 0 1-1.183 2.819 4.07 4.07 0 0 1-2.856 1.168H5.455a4.07 4.07 0 0 1-2.857-1.168 3.962 3.962 0 0 1-1.184-2.82V6.185c0-.524.105-1.043.31-1.527.203-.485.502-.925.878-1.295.376-.37.823-.664 1.314-.863a4.089 4.089 0 0 1 1.55-.301h6.143a4.07 4.07 0 0 1 2.856 1.168 3.962 3.962 0 0 1 1.184 2.818v6.064h-.01Zm-.175-9.877a5.496 5.496 0 0 0-3.865-1.58H5.454a5.496 5.496 0 0 0-3.865 1.58A5.36 5.36 0 0 0 .418 4.086 5.3 5.3 0 0 0 0 6.186v6.063a5.3 5.3 0 0 0 .43 2.1 5.447 5.447 0 0 0 2.908 2.869 5.497 5.497 0 0 0 2.128.424h6.144a5.497 5.497 0 0 0 3.865-1.58 5.36 5.36 0 0 0 1.601-3.814V6.184a5.301 5.301 0 0 0-.43-2.1 5.375 5.375 0 0 0-1.17-1.715l-.013.002Zm-5.818 5.3a.717.717 0 0 0-.909.433c-.13.366.067.769.439.897.44.152.813.453 1.05.85a1.93 1.93 0 0 1-.425 2.483 1.994 1.994 0 0 1-2.422.1 1.954 1.954 0 0 1-.722-.95.716.716 0 0 0-.908-.433.703.703 0 0 0-.44.896 3.374 3.374 0 0 0 1.485 1.776 3.446 3.446 0 0 0 2.295.417 3.419 3.419 0 0 0 2.028-1.138c.52-.603.807-1.367.812-2.158 0-.697-.22-1.377-.63-1.946a3.404 3.404 0 0 0-1.653-1.227Zm18.233.704-1.936-.758c-1.145-.443-1.973-.763-1.973-1.546 0-.784.66-1.245 1.767-1.245.93 0 1.73.258 2.61.853a.3.3 0 0 0 .4-.062l1.188-1.475a.295.295 0 0 0-.042-.41c-1.11-.953-2.636-1.514-4.156-1.514-2.811 0-4.93 1.735-4.93 4.037 0 2.328 1.922 3.335 2.749 3.657l2.012.836c1.075.443 1.785.737 1.785 1.544 0 .486-.25 1.3-1.914 1.3-.973 0-2.146-.444-3.136-1.18a.297.297 0 0 0-.407.043l-1.386 1.665a.29.29 0 0 0 .037.41c1.325 1.077 3.059 1.689 4.82 1.689 3.567 0 5.19-2.179 5.19-4.185 0-1.771-.85-2.934-2.675-3.656l-.003-.003Z"
          fill="#00C4CC"></path>
      </svg>
      <p>&copy; SmartHR, Inc.</p>
    </footer>
  </body>
</html>
